@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}


::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgb(135, 180, 196); 
}

body::-webkit-scrollbar{
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(96, 44, 194); 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #5a06e2; 
}


.download{
  animation: pop 0.3s forwards;
}

.do-co{
  transform: translateY(0);
}

@keyframes pop{
  0%{
    transform: translateX(-100vw);
    opacity: 0;
  }
  50%{
    opacity: 0;
    transform: translateX(0);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}